#calculator
{
    border: 2px solid black;
    width : 500px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
}

#display-container
{
    width:99%;
    height:100px;
    border: 2px solid black;
    background-color: antiquewhite;
    position:relative;
}

#display
{
    font-size: 2.2rem;
    position: absolute;
    margin-bottom:5px;
    bottom:4;
    height: 35%;
    margin-left: 50%;
    width: 50%;
    text-align: right;
    
}
.button
{
    border:2px solid black;
    font-weight: bold;
    height: 50px;
    display: inline-block;
    width:123px;
    margin-top:4px;
    margin-left:-2px;
    text-align:center;
    font-size:1.2rem;
    box-sizing: border-box;
    padding-top: 15px;
    cursor:pointer;
}

#digit-0
{
    width:248px;
}